.photo-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}

.stakeholder-meeting-heading{
  font-weight: bold;
}

.photo-preview{
  background-color: white;
}

.gvh-row{
  margin-bottom: 12px;
  position: relative
}

.gvh-photo{
  width:100%;
}

.gvh-photo-2{
  width:100%;
  margin-top: 52px;
}

.photo-title{
  font-size: 20px;
  margin-top: 0;
}

.photo-text{
  font-weight: 300;
  font-size: 14px;
}

.photo-author{
  color: rgb(96,96,96);
}

.photo-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture-insidediv{
  width: 50px;
}

.profile-picture{
  width:40px;
  height: 40px;             
  border-radius: 50px;
}

.photo-info{
  width: 200px;
}

.photo-time{
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 4px;
  padding-top: 4px;
  border-radius: 4px;
}