.header{
  height: 55px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top:0;
  left:0;
  right:0;
  background-color: white;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: grey;
  z-index: 100;
  padding-top: 10px;
}

.search-bar{
  height: 26px;
  flex: 1;
  padding-left: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  border-radius: 4px;
  box-shadow: inset 1px 2px 5px rgba(0,0, 0,0.05);
  margin-left: 10px;
  width: 0;
}

.search-bar::placeholder{
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 150px;
}

.left-section{
  display: flex;
  align-items: center;
  width: 180px;
  flex-shrink: 0;
  justify-content: space-between;
  margin-right: 14px;
}

.home-button{
  width: 26px;
  margin-left: 4px;
}

.North-text{
  margin-left: 6px;
  padding-right: 2px;
  font-size: 24Px;
  font-weight: bold;
}

.Files-button{
  height: 30px;
}


.middle-section{
  flex: 1;
  margin-left: 85px;
  margin-right: 3px;
  max-width: 3000px;
  width: 0px;
  display: flex;
  align-items: center;
}

.search-button{
  height: 28px;
  width: 36px;
  background-color: rgb(248, 248, 248);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192,192,192,);
  margin-left: -1px;
  margin-right: 10px;
  border-radius: 4px;
}

.search-icon{
  width: 16px;
}

.search-button, 
.voice-search-button,
.apps-button-container,
.notification-button-container,
.home-button-container,
.profile-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.apps-button-container .tooltip,
.notification-button-container .tooltip,
.home-button-container .tooltip,
.profile-container .tooltip{
  position: absolute;
  background-color: brown;
  color: beige;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 3px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.apps-button-container:hover .tooltip,
.notification-button-container:hover .tooltip,
.home-button-container:hover .tooltip,
.profile-container:hover .tooltip{
  opacity: 1;
}

.voice-search-button{
  height: 28px;
  width:28px;
  border-radius: 25px;
  margin-top: 4px;
  margin-left: -8px;
  border: none;
  background-color: rgb(250, 250, 250);
}

.listeningStatus{
  display: none;
  color: rgba(255, 0, 0, 0.705);
  font-weight: bold;
  font-size: 18px;
}

.voice-search-icon{
  width:18px;
}

.right-section{
  width:60px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  margin-right: 21px;
}

.notification-icon{
  height: 16px;
  margin-left: 10px;
  margin-top: 9px;
}

.notification-button-container{
  position:relative
}

.notifications-count{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 1px;
  background-color: rgb(218, 4, 4);
  color: white;
  width:8px;
  padding-left: 2px;
  padding-top: 1px;
  padding-right: -4px;
  padding-bottom: 1px;
  border-radius: 5px;
  font-size: 6px;
  font-weight: bold;
}

.profile-icon{
  height: 22px;
  margin-left: 5px;
  margin-top: 4px;
}

.hidden{
  display: none;
}