body{
  height: 3000px;
}

.slider{
  position: relative;
  background-color: blue;
  width: 400px;
  overflow: hidden;
}
 
.slide {
  background-color: greenyellow;
  width: 300px;
  display: none;
 
}

img.displaySlide{
  display: block;
  animation: fade;
  animation-duration: 1.5s;
}

.slider button{
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  font-size: 2rem;
  background-color: hsla(0, 21%, 8%, 0.322);
  color: white;
  border: none;
  cursor: pointer;
}

.prev-button{
  padding: 10px 15px;
  left: 0;
}

.next-button{
  padding: 10px 15px;
  right: 0;
}

@keyframes fade {
  from {opacity: -5}
  to {opacity: 1}
}